<div class="heikin-ashi-home">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
      <h3 class="ml-3">Heikin Ashi Home</h3>
    </div>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column col-3">
        <button
          class="btn btn-light"
          [ngClass]="{ active: showAllStockList }"
          (click)="openAll()"
        >
          All Stocks
        </button>
        <button
          class="btn btn-light"
          [ngClass]="{ active: showTodayAbove55StockList }"
          (click)="openGoingAbove55(0)"
        >
          Today Above 55
        </button>
        <button
          class="btn btn-light"
          [ngClass]="{ active: showYesAbove55StockList }"
          (click)="openGoingAbove55(1)"
        >
          Yesterday Above 55
        </button>
        <button
          class="btn btn-light"
          [ngClass]="{ active: showNear55StockList }"
          (click)="openNear55()"
        >
          Near 55
        </button>
        <button
          class="btn btn-light"
          [ngClass]="{ active: showAllAbove55 }"
          (click)="openAllAbove55()"
        >
          All Above 55
        </button>
      </div>
      <div class="col-9">
        <div class="d-flex flex-column" *ngIf="showAllStockList">
          <div class="d-flex flex-row bg-light-gray">
            <h4>List Of All Stocks with current RSI</h4>
            <h4 class="ml-auto">
              {{ status }}
            </h4>
          </div>
          <table class="table">
            <thead class="bg-light">
              <tr>
                <td>Stock Name</td>
                <td>Time IST</td>
                <td>RSI</td>
                <td class="text-right">Day Change</td>
                <td>History</td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let stock of heikenAshiService.stockLatestDataArray;
                  let i = index
                "
              >
                <td>{{ stock.stockName }}</td>
                <td>{{ stock.timeStamp * 1000 | date: "short" }}</td>
                <td [ngClass]="{ 'text-success': stock.rsi >= 55 }">
                  {{ stock.rsi }}
                </td>
                <td class="text-right">{{ stock.dayChangePer }} %</td>
                <td>
                  <button
                    class="btn btn-sm btn-link"
                    (click)="openHistory(stock.stockName)"
                  >
                    History
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          *ngIf="
            showTodayAbove55StockList ||
            showYesAbove55StockList ||
            showAllAbove55
          "
        >
          <app-analysis-data
            [localStockArray]="analysisList"
          ></app-analysis-data>
        </div>
        <!-- <div *ngIf="showYesAbove55StockList">
          <app-analysis-data
            [localStockArray]="analysisList"
          ></app-analysis-data>
        </div> -->
        <div *ngIf="showStockHistory">
          <div class="d-flex flex-row bg-light-gray">
            <h4>History Of RSI For -</h4>
            <h4 class="ml-2">
              {{ historyStock }}
            </h4>
            <button class="btn btn-primary m-2 ml-auto" (click)="openAll()">
              Back
            </button>
          </div>
          <app-history-data [stockName]="historyStock"></app-history-data>
        </div>
        <div *ngIf="showNear55StockList">
          <app-analysis-data
            [localStockArray]="analysisList"
          ></app-analysis-data>
        </div>
      </div>
    </div>
  </div>
</div>
