<div>
  <table class="table">
    <thead class="bg-light">
      <tr>
        <td>Stock Name</td>
        <td>Time IST</td>
        <td>RSI</td>
        <td class="text-right">Day Change</td>
        <td>Volume</td>
        <td>Volume Up %</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of localStockArray; let i = index">
        <td>{{ stock.stock }}</td>
        <td>{{ stock.stockObj.timeStamp * 1000 | date: "short" }}</td>
        <td>
          {{ stock.stockObj.rsi }}
        </td>
        <td
          class="text-right"
          [ngClass]="
            stock.stockObj.dayChangePer > 0 ? 'text-success' : 'text-danger'
          "
        >
          {{ stock.stockObj.dayChangePer }} %
        </td>
        <td>
          {{ stock.stockObj.volume }}
        </td>
        <td>
          {{ stock.stockObj.volumePer }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
