<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Time IST</td>
        <td>Low</td>
        <td>RSI</td>
        <td>Last Time</td>
        <td>Last Low</td>
        <td>Last RSI</td>
        <td>Upside %</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of listArr; let i = index">
        <td>{{ stock.timeStamp * 1000 | date: "short" }}</td>
        <td>{{ stock.low }}</td>
        <td>{{ stock.rsi }}</td>
        <td>{{ stock.lowerStockData.timeStamp * 1000 | date: "short" }}</td>
        <td>{{ stock.lowerStockData.low }}</td>
        <td>{{ stock.lowerStockData.rsi }}</td>
        <td>{{ stock.preMove }}</td>
      </tr>
    </tbody>
  </table>
</div>
