<div>
  <div class="d-flex flex-column" *ngIf="showDataList">
    <div class="d-flex bg-light">
      <h4 class="m-2">
        {{ apiService.stock }} - On
        {{ apiService.timeInterval == "1h" ? "Hour" : "Day" }} Divergence
        History
      </h4>
      <button
        class="btn btn-primary m-2 ml-auto"
        (click)="showDivergenceList()"
      >
        Back
      </button>
    </div>
    <app-stock-divergence-history></app-stock-divergence-history>
  </div>
  <div *ngIf="!showDataList">
    <div class="d-flex flex-row">
      <h3>
        Divergence In Last
        {{ stockDivergenceService.lastCheckInterval }} Trading
        {{ apiService.timeInterval == "1h" ? "hours" : "days" }}
      </h3>
      <h4 class="ml-auto">
        {{ status }}
      </h4>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <td>Stock Name</td>
          <td>TIME</td>
          <td>LAST TIME</td>
          <td>Divergence Info</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of localArray">
          <td>{{ stock.stockName }}</td>
          <td>{{ stock.timeStamp * 1000 | date: "short" }}</td>
          <td>
            {{ stock.lowerStockData.timeStamp * 1000 | date: "short" }}
          </td>
          <td>
            <button
              class="btn btn-info"
              (click)="openDivergence(stock.stockName)"
            >
              Info
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
