<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <h4>Option Details</h4>
    <h4 class="ml-auto mr-2">
      {{ status }}
    </h4>
    <!-- <h4 class="ml-auto">{{ lastUpdatedAt | date: "short" }}</h4> -->
    <h4 class="ml-auto">
      Auto Refresh : {{ autoRefreshTime | date: "mediumTime" }}
    </h4>
    <button class="btn btn-sm btn-outline-info ml-2" (click)="reset()">
      <!-- Reset -->
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
    <h4 class="ml-1">
      , Last Updated : {{ lastUpdatedAt | date: "mediumTime" }}
    </h4>
    <button class="btn btn-sm btn-outline-info ml-2" (click)="refresh()">
      <!-- Refresh -->
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </div>
  <div class="d-flex flex-row">
    <div class="col-5 text-center">CALLS</div>
    <div class="col-2"></div>
    <div class="col-5 text-center">PUTS</div>
  </div>
  <div #viewport>
    <table class="table text-center">
      <thead>
        <tr>
          <td>LTP</td>
          <td>OI</td>
          <td>PCOI</td>
          <td>COI</td>
          <td>Strike Price</td>
          <td>COI</td>
          <td>PCOI</td>
          <td>OI</td>
          <td>LTP</td>
        </tr>
      </thead>
      <tbody>
        <tr
          [ngClass]="{
            'bg-colr-blue': getIndex(optionObj.key) == 'PE',
            'bg-colr-red': getIndex(optionObj.key) == 'CE'
          }"
          *ngFor="let optionObj of optionMap | keyvalue; trackBy: trackByFn"
        >
          <td [ngClass]="{ 'bg-light': optionObj.key < underlyingValue }">
            <!-- CE LTP -->
            <span *ngIf="optionObj.value.CE">
              <a
                (click)="
                  openChart(
                    optionObj,
                    OPT_STR.LTP,
                    optionObj.value.CE.optionStr
                  )
                "
                class="mr-1 pointer font-weight-bold"
                >{{ optionObj.value.CE.lastPrice }}</a
              >
              <span
                [ngClass]="getLtpClass(optionObj.value.CE.pchangeInLastPrice)"
              >
                ({{ optionObj.value.CE.pchangeInLastPrice | number: "1.2-2" }}
                %)
              </span>
            </span>
          </td>
          <td [ngClass]="{ 'bg-light': optionObj.key < underlyingValue }">
            <!-- CE OI -->
            <span
              *ngIf="optionObj.value.CE"
              [ngClass]="
                getSignalClass(optionObj.value.CE.openInterest * multiply)
              "
            >
              <a
                (click)="openChart(optionObj, OPT_STR.OI)"
                class="mr-1 pointer"
              >
                {{ optionObj.value.CE.openInterest * multiply | number }}
              </a>
            </span>
          </td>
          <td [ngClass]="{ 'bg-light': optionObj.key < underlyingValue }">
            <!-- CE PCOI -->
            <span class="text-danger" *ngIf="optionObj.value.CE">
              <a
                (click)="openChart(optionObj, OPT_STR.COI)"
                class="mr-1 pointer"
              >
                {{ optionObj.value.CE.lastChangeinOpenInterest }}
              </a>
            </span>
          </td>
          <td [ngClass]="{ 'bg-light': optionObj.key < underlyingValue }">
            <!-- CE COI -->
            <span
              *ngIf="optionObj.value.CE"
              [ngClass]="
                getSignalClass(
                  optionObj.value.CE.changeinOpenInterest * multiply
                )
              "
            >
              <a
                (click)="openChart(optionObj, OPT_STR.COI)"
                class="mr-1 pointer"
              >
                {{
                  optionObj.value.CE.changeinOpenInterest * multiply | number
                }}
                <span
                  class="ml-1"
                  [ngClass]="
                    getLtpClass(optionObj.value.CE.pchangeinOpenInterest)
                  "
                  >({{
                    optionObj.value.CE.pchangeinOpenInterest | number: "1.2-2"
                  }}
                  %)</span
                >
              </a>
            </span>
          </td>

          <td [ngClass]="{ 'text-primary': getMaxPPIndex(optionObj.key) > -1 }">
            <!-- CE ST PE -->
            <i
              *ngIf="
                optionObj.value.PE.changeinOpenInterest <
                optionObj.value.CE.changeinOpenInterest
              "
              class="fa fa-arrow-left mr-1"
            ></i>
            <span class="font-weight-bold"
              ><a (click)="openChart(optionObj, OPT_STR.COI)" class="pointer">{{
                optionObj.key | number
              }}</a></span
            >
            <!-- <button
              class="btn btn-sm btn-outline-info"
              (click)="openChart(optionObj, OPT_STR.COI)"
            >
              <i class="fa fa-book"></i>
            </button> -->
            <i
              *ngIf="
                optionObj.value.PE.changeinOpenInterest >
                optionObj.value.CE.changeinOpenInterest
              "
              class="fa fa-arrow-right ml-1"
            ></i>
          </td>

          <!-- PE COI -->
          <td [ngClass]="{ 'bg-light': optionObj.key > underlyingValue }">
            <span
              *ngIf="optionObj.value.PE"
              [ngClass]="
                getSignalClass(
                  optionObj.value.PE.changeinOpenInterest * multiply
                )
              "
            >
              <a
                (click)="openChart(optionObj, OPT_STR.COI)"
                class="mr-1 pointer"
                >{{
                  optionObj.value.PE.changeinOpenInterest * multiply | number
                }}
                <span
                  class="ml-1"
                  [ngClass]="
                    getLtpClass(optionObj.value.PE.pchangeinOpenInterest)
                  "
                  >({{
                    optionObj.value.PE.pchangeinOpenInterest | number: "1.2-2"
                  }}
                  %)</span
                >
              </a>
            </span>
          </td>
          <!-- CE PCOI -->
          <td [ngClass]="{ 'bg-light': optionObj.key > underlyingValue }">
            <span
              [ngClass]="
                getLtpClass(optionObj.value.PE.lastChangeinOpenInterest)
              "
              *ngIf="optionObj.value.PE"
            >
              <a
                (click)="openChart(optionObj, OPT_STR.COI)"
                class="mr-1 pointer"
              >
                {{ optionObj.value.PE.lastChangeinOpenInterest }}
              </a>
            </span>
          </td>
          <!-- PE OI -->
          <td [ngClass]="{ 'bg-light': optionObj.key > underlyingValue }">
            <span
              *ngIf="optionObj.value.PE"
              [ngClass]="
                getSignalClass(optionObj.value.PE.openInterest * multiply)
              "
            >
              <a
                (click)="openChart(optionObj, OPT_STR.OI)"
                class="mr-1 pointer"
                >{{ optionObj.value.PE.openInterest * multiply | number }}</a
              >
            </span>
          </td>
          <!-- PE LTP -->
          <td [ngClass]="{ 'bg-light': optionObj.key > underlyingValue }">
            <span *ngIf="optionObj.value.PE"
              ><a
                (click)="
                  openChart(
                    optionObj,
                    OPT_STR.LTP,
                    optionObj.value.PE.optionStr
                  )
                "
                class="mr-1 pointer font-weight-bold"
                >{{ optionObj.value.PE.lastPrice }}</a
              >
              <span
                [ngClass]="getLtpClass(optionObj.value.PE.pchangeInLastPrice)"
                >({{
                  optionObj.value.PE.pchangeInLastPrice | number: "1.2-2"
                }}
                %)</span
              >
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
