<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <h4>Option Details</h4>
    <h4 class="ml-auto mr-2">
      {{ status }}
    </h4>
    <!-- <h4 class="ml-auto">{{ lastUpdatedAt | date: "short" }}</h4> -->
    <h4 class="ml-auto">
      Auto Refresh : {{ autoRefreshTime | date: "mediumTime" }}
    </h4>
    <button class="btn btn-sm btn-outline-info ml-2" (click)="reset()">
      <!-- Reset -->
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
    <h4 class="ml-1">
      , Last Updated : {{ lastUpdatedAt | date: "mediumTime" }}
    </h4>
    <button class="btn btn-sm btn-outline-info ml-2" (click)="refresh()">
      <!-- Refresh -->
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </div>
  <div class="d-flex flex-row">
    <div class="col-5 text-center">CALLS</div>
    <div class="col-2"></div>
    <div class="col-5 text-center">PUTS</div>
  </div>
  <div #viewport>
    <table class="table text-center font-weight-bold">
      <thead>
        <tr>
          <td>LTP</td>
          <td>OI</td>
          <!-- <td>COIVR</td> -->
          <td>COI</td>
          <td>Strike Price</td>
          <td>COI</td>
          <td>OI</td>
          <td>LTP</td>
        </tr>
      </thead>
      <tbody>
        <tr
          [ngClass]="{
            'bg-colr-blue': getIndex(optionObj.key) == 'PE',
            'bg-colr-red': getIndex(optionObj.key) == 'CE'
          }"
          *ngFor="let optionObj of optionMap | keyvalue; trackBy: trackByFn"
        >
          <td>
            <span *ngIf="optionObj.value.CE"
              >{{ optionObj.value.CE.lastPrice }}
              <span
                [ngClass]="
                  getSignalClass(optionObj.value.CE.pchangeInLastPrice)
                "
                >({{
                  optionObj.value.CE.pchangeInLastPrice | number: "1.2-2"
                }}
                %)</span
              >
            </span>
          </td>
          <td [ngClass]="{ 'bg-light': optionObj.key < underlyingValue }">
            <span *ngIf="optionObj.value.CE">{{
              optionObj.value.CE.openInterest * multiply | number
            }}</span>
          </td>

          <td>
            <span
              *ngIf="optionObj.value.CE"
              [ngClass]="
                getSignalClass(optionObj.value.CE.changeinOpenInterest)
              "
            >
              {{
                optionObj.value.CE.changeinOpenInterest * multiply | number
              }}</span
            >
          </td>

          <td [ngClass]="{ 'text-primary': getMaxPPIndex(optionObj.key) > -1 }">
            {{ optionObj.key | number }}
            <button
              class="btn btn-sm btn-outline-info"
              (click)="openCOIDialog(optionObj)"
            >
              <!-- G -->
              <i class="fa fa-book"></i>
            </button>
          </td>

          <td>
            <span
              *ngIf="optionObj.value.PE"
              [ngClass]="
                getSignalClass(optionObj.value.PE.changeinOpenInterest)
              "
              >{{ optionObj.value.PE.changeinOpenInterest * multiply | number }}
            </span>
          </td>

          <td [ngClass]="{ 'bg-light': optionObj.key > underlyingValue }">
            <span *ngIf="optionObj.value.PE">
              {{ optionObj.value.PE.openInterest * multiply | number }}</span
            >
          </td>
          <td>
            <span *ngIf="optionObj.value.PE"
              >{{ optionObj.value.PE.lastPrice }}
              <span
                [ngClass]="
                  getSignalClass(optionObj.value.PE.pchangeInLastPrice)
                "
                >({{
                  optionObj.value.PE.pchangeInLastPrice | number: "1.2-2"
                }}
                %)</span
              >
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
