<!-- <p>option-chain-home works!</p> -->
<div class="d-flex flex-column align-content-center">
  <div class="d-flex flex-row">
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="openTab(OCC)"
      [ngClass]="{ active: activeTab == OCC }"
    >
      Compare
    </button>
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="openTab(OCA)"
      [ngClass]="{ active: activeTab == OCA }"
    >
      Analysis
    </button>
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="openTab(OCD)"
      [ngClass]="{ active: activeTab == OCD }"
    >
      Details
    </button>
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="openTab(OCPD)"
      [ngClass]="{ active: activeTab == OCPD }"
    >
      Premium Decay
    </button>
    <div class="ml-auto mt-2 mr-4">
      <h2>{{ time | date: "hh:mm:ss a" }}</h2>
    </div>
  </div>
  <div class="d-flex flex-row w-100" [ngSwitch]="activeTab">
    <app-options-compare
      *ngSwitchCase="OCC"
      [symbol]="symbol"
    ></app-options-compare>
    <app-option-analysis
      *ngSwitchCase="OCA"
      [symbol]="symbol"
    ></app-option-analysis>
    <app-option-details
      *ngSwitchCase="OCD"
      [symbol]="symbol"
    ></app-option-details>
    <app-graph-canvas
      *ngSwitchCase="OCPD"
      [chartReady]="chartPDReady"
      [labels]="chartLabels"
      [datasets]="chartPDDatasets"
    ></app-graph-canvas>
  </div>
</div>
