<!-- <p>option-chain-home works!</p> -->
<div class="d-flex flex-column align-content-center">
  <div class="d-flex flex-row">
    <button
        *ngIf="true"
        class="btn btn-outline-primary m-1"
        (click)="showOptionChainDiv()"
        [ngClass]="{ active: showOptionChain }"
      >
        Option
      </button>
      <button
        *ngIf="true"
        class="btn btn-outline-primary m-1"
        (click)="showOptionAnalysisDiv()"
        [ngClass]="{ active: showOptionAnalysis }"
      >
        Analysis
      </button>
      <button
        *ngIf="true"
        class="btn btn-outline-primary m-1"
        (click)="showOptionDetailsComp()"
        [ngClass]="{ active: showOptionDetails }"
      >
        Details
      </button>
      <button
        *ngIf="true"
        class="btn btn-outline-primary m-1"
        (click)="showOptionPremiumDecay()"
        [ngClass]="{ active: showOptionPD }"
      >
        Premium Decay
      </button>
    <div class="ml-auto mt-1 mr-2">{{ time | date: 'hh:mm:ss a' }}</div>
  </div>

  <div class="d-flex flex-column" *ngIf="chartCEReady && showOptionChain">
    <button class="btn btn-outline-info ml-auto" (click)="refresh()">Refresh</button>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column col-6">

        <div class="d-flex flex-row">
          <h3>CE</h3>
          <mat-form-field appearance="fill">
            <mat-label>Strike Price</mat-label>
            <mat-select
              [(value)]="selectedCE"
              (selectionChange)="dropDownChangedCE($event)"
            >
              <mat-option *ngFor="let strike of strikes" [value]="strike.value">
                {{ strike.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex flex-row">
          <!-- <div style="width: 600px">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartCEDatasets4"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div> -->
          <app-graph-canvas [labels]="chartLabels" [datasets]="chartCEDatasets4"></app-graph-canvas>

        </div>
        <div class="d-flex flex-row">
          <div style="width: 100%">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartCEDatasets2"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </div>
         <div class="d-flex flex-row">
          <div style="width: 600px">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartCEDatasets3"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div style="width: 600px">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartCEDatasets1"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column col-6" *ngIf="chartPEReady">
        <div class="d-flex flex-row">
          <h3>PE</h3>
          <mat-form-field appearance="fill">
            <mat-label>Strike Price</mat-label>
            <mat-select
              [(value)]="selectedPE"
              (selectionChange)="dropDownChangedPE($event)"
            >
              <mat-option *ngFor="let strike of strikes" [value]="strike.value">
                {{ strike.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex flex-row">
          <div style="width: 600px">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartPEDatasets4"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div style="width: 600px">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartPEDatasets2"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div style="width: 600px">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartPEDatasets3"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div style="width: 600px">
            <canvas
              mdbChart
              [chartType]="chartType"
              [datasets]="chartPEDatasets1"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="d-flex flex-row" *ngIf="showOptionAnalysis">
    <app-option-analysis></app-option-analysis>
  </div>
  <div class="d-flex flex-row" *ngIf="showOptionDetails">
    <app-option-details></app-option-details>
  </div>
  <div class="d-flex flex-row" *ngIf="showOptionPD">
    <app-graph-canvas [chartReady]="chartPDReady" [labels]="chartLabels" [datasets]="chartPDDatasets"></app-graph-canvas>
  </div>
</div>
