<!-- <p>option-chain-home works!</p> -->
<div class="d-flex flex-column align-content-center">
  <div class="d-flex flex-row">
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="showOptionChainDiv()"
      [ngClass]="{ active: showOptionChain }"
    >
      Options
    </button>
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="showOptionAnalysisDiv()"
      [ngClass]="{ active: showOptionAnalysis }"
    >
      Analysis
    </button>
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="showOptionDetailsComp()"
      [ngClass]="{ active: showOptionDetails }"
    >
      Details
    </button>
    <button
      *ngIf="true"
      class="btn btn-outline-primary m-1"
      (click)="showOptionPremiumDecay()"
      [ngClass]="{ active: showOptionPD }"
    >
      Premium Decay
    </button>
    <div class="ml-auto mt-2 mr-4">
      <h2>{{ time | date: "hh:mm:ss a" }}</h2>
    </div>
  </div>

  <div class="d-flex flex-column" *ngIf="showOptionChain">
    <app-options-compare></app-options-compare>
  </div>
  <div class="d-flex flex-row" *ngIf="showOptionAnalysis">
    <app-option-analysis></app-option-analysis>
  </div>
  <div class="d-flex flex-row" *ngIf="showOptionDetails">
    <app-option-details></app-option-details>
  </div>
  <div class="d-flex flex-row" *ngIf="showOptionPD">
    <app-graph-canvas
      [chartReady]="chartPDReady"
      [labels]="chartLabels"
      [datasets]="chartPDDatasets"
    ></app-graph-canvas>
  </div>
</div>
