<div>
    <table class="table">
        <thead>
            <tr>
                <td>Stock Name</td>
                <td>Hourly Divergence</td>
                <td>Day Divergence</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of stockArray; let i = index">
                <td> {{ stock }}</td>
                <td><button class="btn btn-link" (click)="openHourlyDivergence(stock)">Hourly</button></td>
                <td><button class="btn btn-link" (click)="openDayDivergence(stock)">Day</button></td>
            </tr>
        </tbody>
    </table>
</div>
