<div>
  <button class="btn btn-primary m-2" (click)="getList()">Wish List</button>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <td>Stock Name</td>
        <td>TIME</td>
        <td>LAST TIME</td>
        <td>Divergence Info</td>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let stock of dataArray"> -->
      <tr *ngFor="let stock of localMap | keyvalue">
        <td>{{ stock.key }}</td>
        <td>{{ stock.value.timeStamp * 1000 | date: "short" }}</td>
        <td>
          {{ stock.value.lowerStockData.timeStamp * 1000 | date: "short" }}
        </td>
        <td>
          <button class="btn btn-info" (click)="openDivergence(stock.key)">
            Info
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
