<div>
  <button class="btn btn-primary m-2" (click)="getList()">Wish List</button>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <td>Last Divergence</td>
        <td>Low</td>
        <td>Close</td>
        <td>RSI</td>
        <td>COMP TIME</td>
        <td>COMP Low</td>
        <td>COMP RSI</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of dataArray">
        <!-- <tr *ngFor="let stock of localMap | keyvalue"> -->
        <td>{{ stock.timeStamp * 1000 | date: "short" }}</td>
        <td>{{ stock.low }}</td>
        <td>{{ stock.close }}</td>
        <td>{{ stock.rsi }}</td>
        <td>
          <span *ngIf="stock.lowerStockData">{{
            stock.lowerStockData.timeStamp * 1000 | date: "short"
          }}</span>
        </td>
        <td>
          <span *ngIf="stock.lowerStockData">{{
            stock.lowerStockData.low
          }}</span>
        </td>
        <td>
          <span *ngIf="stock.lowerStockData">{{
            stock.lowerStockData.rsi
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
