<div>
  <div class="d-flex flex-row justify-content-center">
    <h3>{{ status }}</h3>
  </div>
  <table class="table">
    <!-- this.stockValueMap -->
    <thead class="bg-light">
      <tr>
        <td>Stock Name</td>
        <td>Total Sequrity</td>
        <td>Stock Avg Buy Price</td>
        <td>Promoter Shareholding %</td>
        <td>Is Market Sell</td>
        <td>Pledge %</td>
        <td>No Of Share Sale</td>
        <td>Buy This</td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let promoter of promotersBuyService.stockValueMap | keyvalue;
          let i = index
        "
        [ngClass]="{ 'bg-warning': promoter.value.buyThis }"
      >
        <td>{{ promoter.key }}</td>
        <td>{{ promoter.value.allSeqVal }}</td>
        <td>{{ promoter.value.stockAvgBuyPrice }}</td>
        <td>{{ promoter.value.promoterShareholding }}</td>
        <td>{{ promoter.value.isMarketSell }}</td>
        <td>{{ promoter.value.pledgePer }}</td>
        <td>{{ promoter.value.noOfShareSale }}</td>
        <td>{{ promoter.value.buyThis }}</td>
      </tr>
    </tbody>
  </table>
</div>
