<div class="d-flex flex-column align-content-center">
  <div class="d-flex flex-row">
    <h4>{{ symbol }} : {{ underlyingValue }}, PCR : {{ pcRatio }}</h4>
    <h4 class="ml-auto">
      Auto Refresh : {{ autoRefreshTime | date: "mediumTime" }}
    </h4>
    <button class="btn btn-sm btn-outline-info ml-2" (click)="reset()">
      <!-- Reset -->
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
    <h4 class="ml-1">
      , Last Updated : {{ lastUpdatedAt | date: "mediumTime" }}
    </h4>
    <button class="btn btn-sm btn-outline-info ml-2 mr-2" (click)="refresh()">
      <!-- Refresh -->
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </div>
  <div class="d-flex flex-row" *ngIf="false">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <td>TYPE</td>
          <td>Strike Price</td>
          <td>Open Interest</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stockOIList; trackBy: trackByFn">
          <td>{{ stock.type }}</td>
          <td>{{ stock.strikePrice }}</td>
          <td>{{ stock.openInterest }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row" *ngIf="chartPCRReady">
    <app-graph-canvas
      [labels]="chartLabels"
      [datasets]="chartPCRDatasets"
    ></app-graph-canvas>
    <app-graph-canvas
      [labels]="chartLabels"
      [datasets]="chartCORDatasets"
    ></app-graph-canvas>
  </div>

  <div class="d-flex flex-row" *ngIf="chartPCRReady">
    <app-graph-canvas
      [labels]="chartLabels"
      [datasets]="chartPCTOIDatasets"
    ></app-graph-canvas>
    <app-graph-canvas
      [labels]="chartLabels"
      [datasets]="chartPCTCOIDatasets"
    ></app-graph-canvas>
  </div>
</div>
