<div class="d-flex flex-column align-content-center">
  <div class="d-flex flex-row">
    <h4>
      Nifty : {{ underlyingValue }}, PCR : {{ pcRatio }}
    </h4>
    <h4 class="ml-auto">{{ lastUpdatedAt | date: "short" }}</h4>
    <button class="btn btn-outline-info ml-2" (click)="refresh()">Refresh</button>
  </div>
  <div class="d-flex flex-row" *ngIf="false">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <td>TYPE</td>
          <td>Strike Price</td>
          <td>Open Interest</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stockOIList; trackBy: trackByFn">
          <td>{{ stock.type }}</td>
          <td>{{ stock.strikePrice }}</td>
          <td>{{ stock.openInterest }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row" *ngIf="chartPCRReady">
    <!-- <div style="width: 100%">
      <canvas
        mdbChart
        [chartType]="chartType"
        [datasets]="chartPCRDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      >
      </canvas>
    </div> -->
    <app-graph-canvas [labels]="chartLabels" [datasets]="chartPCRDatasets"></app-graph-canvas>
  </div>

  <div class="d-flex flex-row" *ngIf="chartPCRReady">
    <app-graph-canvas [labels]="chartLabels" [datasets]="chartPCTOIDatasets"></app-graph-canvas>
  </div>
</div>
